@font-face {
    font-family: 'Chillax';
    src: local('Chillax-Medium'),
        url('Chillax-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Hack';
    src: local('Hack-Bold'),
    url('Hack-Bold.ttf');
}

/* body {
    font-family: 'Hack';
} */